{
	"OPENAI_API_KEY": "",
	"DISCORD_TOKEN": "",
	"APP_ID": "",
	"GUILD_ID": "",
	"SYSTEM_ROLE_DEFAULT": "You are a helpful assistant",
	"MODEL_DEFAULT": "gpt-4o-mini",
	"SYSTEM_ROLE": {
		"gpt-4o-mini": "You are a helpful assistant"
	},
	"THINKING_MESSAGE": "Generating your response... {@}",
	"APP_NAME": "discord-chatgpt",
	"ICON": "https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/240px-ChatGPT_logo.svg.png"
}