{
	"OPENAI_API_KEY": "",
	"DISCORD_TOKEN": "",
	"APP_ID": "",
	"GUILD_ID": "",
	"MODEL_DEFAULT": "gpt-4o-mini",
	"SYSTEM_ROLE_CHAT": "You are in a normal conversation channel, use [skip] to skip responding to other people's messages",
	"SYSTEM_ROLE_ASSISTANT": "You are a helpful assistant",
	"SYSTEM_ROLE_MODEL": {
		"gpt-4o-mini": "You are a helpful assistant"
	},
	"SYSTEM_ROLE_CHANNEL": {
		"1353999845303521280": "This is a channel specific system prompt"
	},
	"THINKING_MESSAGE": "Generating your response... {@}",
	"APP_NAME": "discord-chatgpt",
	"ICON": "https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/240px-ChatGPT_logo.svg.png"
}
