{
	"OPENAI_API_KEY": "",
	"DISCORD_TOKEN": "",
	"APP_ID": "",
	"GUILD_ID": "",
	"SYSTEM_ROLE": "You are a helpful assistant",
	"SYSTEM_ROLE_ALT": "You are a helpful assistant",
	"THINKING_MESSAGE": "Generating your response... {@}",
	"RESET_AFTER_IDLE": 600,
	"OPENAI_MODEL": "gpt-3.5-turbo",
	"APP_NAME": "discord-chatgpt",
	"ICON": "https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/240px-ChatGPT_logo.svg.png"
}